.line{
    margin-top: 10px;
    background-color: #C5E9FF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

}
.main{
    padding: 15px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #C5E9FF;
    margin: 0 auto;
    width: 1200px;
    font-size: 19px;
}
.someButton{
    height: 45px;
    width: 188px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: break-word;

}
.button{
    height: 45px;
    width: 188px;
    box-sizing: border-box;
}
.button{
    width: 131px;
    height: 45px;
    background-color: white;
    border: 1px grey solid;
    font-size: 16px;
}

.doctors{
    height: 45px;
    background-color: white;
    width: 188px;
    border: 1px solid black 20%;
    box-sizing: border-box;
    border-radius: 6px;
}
.someButton{
    padding: 4px;
    width: 188px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid grey;
}

.add{
    align-self: flex-end;
}
.clear {
    width: 37px;
    height: 20px;
    background-color: #000000;
    outline: none;
    margin-left: 3px;
    color: #FFFFFF;
    border: 1px solid grey;
}