.main{
    padding: 15px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #C5E9FF;
    margin: 0 auto;
    width: 1200px;
    font-size: 19px;

}
.line{
    margin-top: 10px;
    background-color: #C5E9FF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

}
.main input{
    height: 45px;
    width: 188px;
    box-sizing: border-box;
}
.doctors{
    height: 45px;
    background-color: white;
    width: 188px;
    border: 1px solid black 20%;
    box-sizing: border-box;
    border-radius: 6px;
}
.add{
    align-self: flex-end;
        align-self: flex-end;

}
.button{
    width: 131px;
    height: 45px;
    background-color: white;
    border: 1px grey solid;
    font-size: 16px;

}