*{
    margin: 0;
    padding: 0;
}
.main{
    display: grid;
    grid-template-columns: 5fr 30fr 2fr;
    padding: 30px;
    align-items: center;
    grid-column-gap: 81px;
    margin-bottom: 20px;
    box-shadow: 4px 6px 6px 7px rgba(0, 0, 0, 0.29);

}
.exit {
    width: 156px;
    height: 46px;
    background-color: #FFFFFF;
    outline: none;
    border: 1px solid #bdbdbd;
    font-size: 24px;
    border-radius: 3px ;
}

.title {
    font-size: 36px;
}

.logo {
    background-image: url("../../assets/logo.svg");
    width: 89px;
    height: 71px;
}
