*{
    margin: 0;
    padding: 0;
}
.main{
    display: grid;
    grid-template-columns: 5fr 30fr 2fr;
    /*display: flex;*/
    padding: 10px;
    align-items: center;
    /*flex-direction: row;*/
    grid-column-gap: 81px;
}
.exit {
    width: 156px;
    height: 46px;
    background-color: #FFFFFF;
    outline: none;
    border: 1px solid #bdbdbd;
    font-size: 24px;
    border-radius: 3px ;
    /*margin-right: 23px;*/
}

.title {
    font-size: 36px;
}

.logo {
    background-image: url("../../assets/logo.svg");
    width: 89px;
    height: 71px;
    /*margin-left: 23px;*/
}
.buttonContainer{

}