.main{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.border{
    border-right: 1px solid black;
    width: 241px;
    box-sizing: border-box;
    padding: 7px;
}
.doc{
    width: 231px;
    border-radius: 1px black solid;
    padding: 7px;

}
.date{
    width: 162px;
    padding: 11px 18px 5px 30px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;

}
.complaints{
    width: 202px;
    padding: 7px;
    border-right: 1px solid black;
    word-break: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
}
.buttons{
    display: flex;
    width: 105px;
    align-items: center;
}
.delete{
    background-image: url("../../../assets/delete.svg");
    width: 14px;
    height: 18px;
}
.edit{
    background-image: url("../../../assets/edit.svg");
    width: 18px;
    margin-left: 10px;
    height: 18px;
}

.receptionMain{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.list{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
    background-color: #C4C4C4;
    padding: 15px 30px 15px 30px;
    margin-bottom: 0px;
   
}
.list li{
    font-size: 18px;
    box-sizing: border-box;
}

.elements{
    border: 1px solid black;
}

.deleteReceptionWindow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 611px;
    margin: 0;
    padding: 19px 15px 0px 288px;
    padding-top: 132px;
    left: 0;
    margin: 0 auto;
}
.sortContainer{
    padding-top: 10px;
}