.main {
    width: 200px;
    height: 200px;
    background-image: url("preloader.gif") ;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    position: absolute;
    padding: 20px;
    margin: 0 auto;
}