
.App {
    background-color: rgb(199, 234, 255);
    /*padding: 10px;*/
}

.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C5E9FF;
    /*padding: 23px;*/
    /*box-shadow: 4px 6px 6px 7px rgba(0, 0, 0, 0.29);*/
}



.main {
    background-color: #C5E9FF;
    height: 100vh;
    /*margin-top: 21px;*/

}
.preloader{
    position: absolute;

}
.containerAuth {
    padding: 41px 56px 41px 56px;
    display: flex;
    justify-content: space-around;
}
.logo-in-auth{
    background-image: url("./assets/logo.svg");
    width: 89px;
    height: 71px;
    margin-left: 23px;
}
.title{
    font-size: 38px;
    font-weight: 300;
}
.logo {
    background-image: url("./assets/logo.svg");
    width: 89px;
    height: 71px;
    margin-left: 23px;
}

.complaints {
    padding: 0;
    font-size: 36px;
    margin-left: -724px;
}

.containerEditWindow {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
}

.editWindow {
    position: absolute;
}

.containerDelete {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding: 50px;
}

.hospital {
    background-image: url("./assets/hospital.svg");
    width: 375px;
    height: 375px;
    /*background-color: none;*/
}

/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
