.mainAuth{
    background-color: white;
    width: 400px;
}

.registration{
    font-weight: 300;
    font-size: 18px;
    border: none;
}

.authorization{
    font-weight: 300;
    font-size: 18px;
}