.mainAuth{
    background-color: white;
    width: 400px;
}


.registration{
    margin-top: 18px;
    font-weight: 300;
    font-size: 18px;
    /*border: 1px solid gray;*/
    border: none;
    /*background-color: none;*/
    /*height: 40px;*/
    /*width: 195px;*/
}

.authorization{
    margin-top: 18px;
    font-weight: 300;
    font-size: 18px;
    /*border: 1px solid gray;*/
    /*background-color: white;*/
}